.chContainer {
    display: flex;
    border: solid black;
}

.listCharac {
    width: 50%;
}

.listCharac li {
    text-decoration: underline;
}

.listCharac li:hover {
    font-size: 16pt;
    transition: 300ms;
    cursor: pointer;
}

.listCharac li::after {
    color: red;
    
}

.addForm {
    justify-content: center;
    margin: 20px 10px 20px 10px;
    box-sizing: border-box;
}

input, select {
    margin: 5px;
}