body{
    height: 100vh;
    background-color: black;
    color: white;
    font-family: serif;
}

.rye-regular {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
}
  

.navBar {
    height: 50px;
    width: 100%;
    /* margin: 0 auto; */
    /* padding: 0 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks li{
    margin: 0 5px;
    list-style: none;
}


.navLinks li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navLinks li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0;
    transition: all 0.3s ease;
}

.navLinks li:hover a::before{
    opacity: 1;
}

.banner {
    height: 500px;
    width: 100%;
    background-image: url(./img/hogwarts-dark-wallpaper.jpg);
    background-size: contain ;
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

#slogan {
    color: rgb(215, 199, 87);    
    text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;    
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
   
}

#logo {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Rye", serif;
}







#inputSearch {
    border: 1px solid red;
    border-radius: 5px;
    width: 50%;
    height: 20px;
}

.sortHat {
    display: flex;
}



.playSort {
    height: 400px;
    width: 40%;
    justify-content: center;
   

}

.houses {
    display: flex;
}

.students {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}