body{
    height: 100vh;
    background-color: black;
    color: white;
    font-family: fantasy;
}

.navBar {
    height: 50px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks li{
    margin: 0 5px;
    list-style: none;
}


.navLinks li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navLinks li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0;
    transition: all 0.3s ease;
}

.navLinks li:hover a::before{
    opacity: 1;
}


#logo {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}







#inputSearch {
    border: 1px solid red;
    border-radius: 5px;
    width: 50%;
    height: 20px;
}